<%- include("./menu") %>
<%- include("../partials/header") %>
<div class="w3-main" style="margin-left:300px;">

    <header class="w3-container" style="padding-top:22px">
        <center><h3><b><i class="fa fa-list"></i> View Feedback</b></h3></center>

    </header><hr>
    <div>
<center>
<table class="table" style="width: 90%;background-color: white;">
    <thead>
      <tr><center>
        <th><h3>Customer name</h3></th>
        <th><h3>Customer Email</h3></th>
        <th><h3>Venue Name </h3></th>
        <th><h3>Description</h3></th>        
        

        </center>
      </tr>
    </thead>
    <tbody>
        <%if (records.length >0){ %>
            <% records.forEach(function(row){ %>        
            <tr>
                <%if (row.owner_email == user.email){ %>

                    <td><h4 style="color:darkgreen;"><%= row.username %></h4></td>
                    <td><h4 style="color:darkgreen;"><%= row.email %></h4></td>
                    <td><h4 style="color:darkgreen;"><%= row.vname %></h4></td>
                    <td><h4 style="color:darkgreen;"><%= row.Desc %> </h4></td>               
                <% }%></tr>
     
            <%   })%>
       <%}else{ %>
        <tr>
            <td colspan="6">No Record Found</td>
            
          </tr>
        <% } %>
    </tbody>
  </table></center></div>

