<title>Venue</title>
<style>
    .container {
        position: relative;

    }

    .column {
        float: left;
        width: 25%;
        padding: 15px;
    }

    /* Style the images inside the grid */
    .column img {
        opacity: 0.8;
        cursor: pointer;
    }

    .column img:hover {
        opacity: 1;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    body {
        background-color: #f5f5f5;
        padding-top: 25px;
        font-family: 'Open sans', Arial, sans-serif;
    }


    .store-body {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .store-body .product-info {
        width: 60%;
        border-right: 1px solid rgba(0, 0, 0, .125);
    }

    .store-body .product-payment-details {
        width: 40%;
        padding: 15px 15px 0 15px;
    }

    .stats {
        border-top: 1px;
        background: white;
        overflow: auto;
        padding: 15px 0;
        font-size: 16px;
        color: black;
        font-weight: 600;
        border-radius: 0 0 5px 5px;
    }

    .stats div {
        border-right: 1px solid #ebeff2;
        width: 33.33333%;
        float: left;
        text-align: center
    }

    .stats div:nth-of-type(3) {
        border: none;
    }
</style>
<script>
    function myFunction(imgs) {
        // Get the expanded image
        var expandImg = document.getElementById("expandedImg");
        // Get the image text
        var imgText = document.getElementById("imgtext");
        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src;
        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt;
        // Show the container element (hidden with CSS)
        expandImg.parentElement.style.display = "block";
    }
</script>
<div class="w3-main">

    <header class="w3-container" style="padding-top:22px;padding-left: 32px;padding-right: 32px;">

        <a class="navbar-brand" href="/index"><span style="color: black; font-size: 28px;"><b>
                    Venue Book.
                </b></span></a>
        <a href="/">
            <span style="float: right; color: black; font-size: 22px;">
                <b>LogOut</b>
            </span>
        </a>
        <a href="/profile">
            <span style="float: right; color: black; font-size: 22px;">
                <b><%= user.username %></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>

        <a href="/wishlist">
            <span style="float: right; color: black; font-size: 22px;">
                <b>Wishlist</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        
        <a href="/My_Booking">
            <span style="float: right; color: black; font-size: 22px;">
                <b>My Bookings</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        <a href="/view_more">
            <span style="float: right; color: black; font-size: 22px;">
                <b>Venues</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </a>
        


    </header>
    <hr>
    <div>
        <center>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
                id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->

            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'
                type='text/css' />

            <div class="container-fluid">
                <div class="row">

                    <%if (records.length>0){ %>

                        <% records.forEach(function(row){ %>
                            <% for(venue_name of venue_names) {%>
                                <% if(row.v_name==venue_name.demo ){%>

                                    <main style="padding-left:80px;">



                                        <div class="card-body store-body" style="background-color: white;">
                                            <div class="product-info" style="padding-right: 50px;">


                                                <div class="product-gallery-featured">
                                                    <div class="container">

                                                        <img src="/images/<%= row.image1 %>" id="expandedImg"
                                                            style="margin-left: -20px;width:660px;height:400px;">


                                                    </div>
                                                    <div class="row">
                                                        <div class="column">
                                                            <img src="/images/<%= row.image1 %>" alt="Nature"
                                                                style="height: 100px;width: 130px;"
                                                                onclick="myFunction(this);">
                                                        </div>
                                                        <div class="column">
                                                            <img src="/images/<%= row.image2 %>" alt="Snow"
                                                                style="height: 100px;width: 130px;"
                                                                onclick="myFunction(this);">
                                                        </div>
                                                        <div class="column">
                                                            <img src="/images/<%= row.image3 %>" alt="Mountains"
                                                                style="height: 100px;width: 130px;"
                                                                onclick="myFunction(this);">
                                                        </div>
                                                        <div class="column">
                                                            <img src="/images/<%= row.image4 %>" alt="Lights"
                                                                style="height: 100px;width: 130px;"
                                                                onclick="myFunction(this);">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="product-payment-details">
                                                <p class="last-sold text-muted"><small>Contact to owner : <%=
                                                            row.owner_email %></small></p>
                                                <h4 class="product-title mb-2">
                                                    <%= row.v_name %>
                                                </h4>
                                                <h2 class="product-price display-4">
                                                    <%= row.v_deposite %>₹
                                                </h2>
                                                <p class="text-success"><i class="fa fa-credit-card"></i>Deposite amount
                                                    for venue</p>
                                                <p class="mb-0"><i class="fa fa-truck"></i>You can arranges your 
                                                    <%= row.event %> on our venue...
                                                </p>
                                                <div class="text-muted mb-2"><small>know more info about venue contact
                                                        to : <%= row.v_phone %></small></div>
                                                <p class="mb-0"><i class="fa fa-truck"></i>Address : <%= row.v_address
                                                        %>,<%= row.v_city %>
                                                </p>
                                                <h2 class="product-price display-4">
                                                    <%= row.v_capacity %>
                                                </h2>
                                                <p class="text-success"><i class="fa fa-credit-card"></i>Person Capacity
                                                    </p>

                                                <div class="stats">

                                                    <div>
                                                        <strong>Morning Rent</strong><br>
                                                        <%= row.morn_rent %>
                                                    </div>

                                                    <div>
                                                        <strong>Evening Rent</strong><br>
                                                        <%= row.eve_rent %>
                                                    </div>

                                                    <div>
                                                        <strong>Fullday Rent</strong><br>
                                                        <%= row.full_rent %>
                                                    </div>

                                                </div><br>

                                                <a href="/wishlist/<%= row.v_name %>" style="background: black; 
                                        padding-left: 10px; 
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        padding-right: 10px;      
                                        background-color: rgb(255, 65, 65);
                                        border-radius: 34rem;
                                        border: 2px;
                                        color: white;
                                        font-size: 18px;
                                        font-weight: bold;">Add to wishlist</a>

                                                <a href="/Book/<%= row.v_name %>" style="background: black; 
                                            padding-left: 10px; 
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                            padding-right: 10px;      
                                            background-color: black;
                                            border-radius: 34rem;
                                            border: 2px;
                                            color: white;
                                            font-size: 18px;
                                            font-weight: bold;">Book Now</a>
                                            </div>
                                        </div>

                                    </main>
                                    <% }}})} %>






                </div><br>
            </div>
        </center>
    </div>